---
layout: default_style
permalink: /de/contact
published: true
reference: contact
---
<!-- Main Container -->
<!-- Disable Google Maps
<section id="map-banner">
  <div class="map-banner">
    <iframe id="googlemap" width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      src=""></iframe>
    <br />
  </div>
</section>
-->
<section id="contact-section" class="section-wrapper">
  <!-- Begin Main Container -->
  <div class="container">
    <!-- Begin Main Row -->
    <div class="row">
      <!-- Begin Col Find-us -->
      <div class="col-lg-4 contact-block">
        <h3>{{ site.data.locales[page.lang].find_us_at }}</h3>
        <em>
          <p><strong>RheinTech Energy GmbH</strong></p>
          <p>Sandstr. 87</p>
          <p>40789 Monheim a. Rhein</p>
          <p>Germany</p>
        </em>
        <p>{{ site.data.locales[page.lang].phone }}: 0049 (0) 214 314 997 0</p>
        <p>{{ site.data.locales[page.lang].fax }}: 0049 (0) 214 314 997 17</p>
        <p><em><strong>{{ site.data.locales[page.lang].email }}: info@rte-energy.de</strong></em></p>
        <br>
      </div>
      <!-- End Col Find-us -->

      <!-- Begin Col Contact Form -->
      <div class="col-lg-8 contact-block" id="contact_form">
        <h3>{{ site.data.locales[page.lang].contact_form }}</h3>
        <form action="https://api.web3forms.com/submit" method="POST" class="needs-validation">
          <input type="hidden" name="access_key" value="5fff2d2c-afa0-4493-8b8f-7601b9f520e6">
          <fieldset>
            <div class="form-group">
              <label for="name" class="control-label">{{ site.data.locales[page.lang].name }} *</label>
              <input type="text" class="form-control" id="name" name="name"
                placeholder="{{ site.data.locales[page.lang].placeholder_name }}" required>
            </div>
            <div class="form-group">
              <label for="company" class="control-label">{{ site.data.locales[page.lang].company | capitalize }}
                *</label>
              <input type="text" class="form-control" id="company" name="company"
                placeholder="{{ site.data.locales[page.lang].placeholder_company }}" required>
            </div>
            <div class="form-group">
              <label class="control-label" for="phone">{{ site.data.locales[page.lang].phone_number }}</label>
              <input type="tel" class="form-control" name="phone" id="phone"
                placeholder="{{ site.data.locales[page.lang].placeholder_phone_number }}">
            </div>
            <div class="form-group">
              <label class="control-label" for="email">{{ site.data.locales[page.lang].email }} *</label>
              <input type="email" class="form-control" name="email" id="email"
                placeholder="{{ site.data.locales[page.lang].placeholder_email }}" required>
            </div>
            <div class="form-group">
              <label class="control-label" for="message">{{ site.data.locales[page.lang].message }} *</label>
              <textarea class="form-control" name="message" id="message" rows="3"
                placeholder="{{ site.data.locales[page.lang].placeholder_message }}"></textarea>
            </div>
            <!-- Find the imprint and privacy policy-->
            {% assign node = site.pages | where: "lang", page.lang %}
            {% for item in node %}
            {% if item.reference == "imprint" %}
            {% assign page_imprint = item %}
            {% endif %}
            {% if item.reference == "privacy_policy" %}
            {% assign page_privacy_policy = item %}
            {% endif %}
            {% if item.reference == "thanks" %}
            {% assign page_thanks = item %}
            {% endif %}
            {% endfor %}
            <div class="form-check form-group">
              <input class="form-check-input" type="checkbox" value="" id="agreement" required>
              <label class="form-check-label" for="agreement">
                {{ site.data.locales[page.lang].contact_form_agreement_1}} <a href="{{ page_imprint.url }}">{{
                  site.data.locales[page.lang].contact_form_agreement_2 }}</a> {{
                site.data.locales[page.lang].contact_form_agreement_3 }} <a href="{{ page_privacy_policy.url }}">{{
                  site.data.locales[page.lang].contact_form_agreement_4}}</a>{{ site.data.locales[page.lang].contact_form_agreement_5 }}
              </label>
            </div>
            <div class="form-comment">
              <p>{{ site.data.locales[page.lang].contact_form_comments }}</p>
            </div>
            <button type="submit" class="btn btn-primary">Absenden</button>
            <input type="hidden" name="redirect" value="{{ site.url }}{{ site.baseurl }}{{ page_thanks.url }}">
            <input type="hidden" name="from_name" value="ALCiDES Contact Form">
            <input type="hidden" name="subject" value="Neues Kontaktformular der RheinTech Energy Website">
          </fieldset>
        </form>
      </div>
      <!-- Begin Col Contact Form -->
    </div>
    <!-- End Main Row -->
  </div>
  <!-- End Main Container -->
</section>
<!--End Main Section -->